@import url("https://fonts.googleapis.com/css2?family=Crimson+Text:wght@700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Crimson+Text:wght@700&family=Work+Sans&display=swap");

#app {
    display: grid;
}

.navbar__app {
    position: fixed;
    width: 100%;
    background-color: #bdc3c7;
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-height: 10vh;

    .logo__name {
        font-size: 1.3rem;
        margin-left: 10px;
    }

    .navbar__links {
        display: flex;
        align-items: center;
        ul {
            display: flex;
            justify-content: space-around;
            align-items: center;
            list-style-type: none;

            li {
                padding: 5px 15px;

                a {
                    font-family: "Work Sans", sans-serif;
                    text-decoration: none;
                    color: #2c3e50;
                    font-size: 1.1rem;

                    &:hover {
                        text-decoration: underline;
                        font-size: 1.1rem;
                        background-color: #ecf0f1;
                        padding: 1.5rem;
                    }

                    .icons {
                        margin-right: 5px;
                    }
                }
            }
        }
    }
    .menu__icon {
        margin-right: 1rem;
        display: none;
    }
}

@media screen and (max-width: 800px) {
    .navbar__app {
        flex-direction: column;
        .logo__name {
            margin: auto 0px;
            margin-top: 1.5rem;
            margin-left: 10px;
            margin-right: auto;
        }

        .navbar__links {
            margin: 0.5rem 0rem;
            display: none;
            ul {
                display: flex;
                flex-direction: column;
                width: 100%;
                text-align: center;
                
                li {
                    
                    a {
                        &:hover {
                            
                            text-decoration: underline;
                            background-color: #ecf0f1;
                            padding: 0rem;
                        }

                        .icons {
                            margin-right: 5px;
                        }
                    }
                    &:hover {
                        width: 120vw;
                        background-color: #ecf0f1;
                    }
                }
            }
        }
        
        .menu__icon {
            font-size: 1.3rem;
            margin-right: 1rem;
            display: block;
            position: absolute;
            top: 3.5vh;
            right: 1vw;
        }
    }
}

